.alert {
  padding: 20px 200px 20px 20px;
  display: inline-block;
  border-radius: $border-radius;
  -webkit-border-radius: $border-radius;
  -moz-border-radius: $border-radius;
  -ms-border-radius: $border-radius;
  -o-border-radius: $border-radius;
  position: relative;
  color: white;
  .close {
    position: absolute;
    top: 0.3rem;
    right: 0.5rem;
    width: 1.5rem;
    text-align: center;
    cursor: pointer;
  }
}

.alert-success {
  background: $primary;
}

.alert-default {
  background: $primary;
}

.alert-danger {
  background: $danger;
}
.alert-warning {
  background: $warning;
}
